version: 2
updates:
  # NPM / PNPM / Yarn (depende do lockfile)
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "06:00"
      timezone: "Europe/Lisbon"
    open-pull-requests-limit: 10

    # Remova esta seção se não quiser criar labels no GitHub
    labels:
      - "dependencies"
      - "javascript"

    groups:
      npm-security:
        applies-to: "security-updates"
        patterns:
          - "*"

      npm-prod-minor-patch:
        applies-to: "version-updates"
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
        patterns:
          - "*"

      npm-dev-minor-patch:
        applies-to: "version-updates"
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
        patterns:
          - "*"

    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "06:00"
      timezone: "Europe/Lisbon"
    open-pull-requests-limit: 10

    labels:
      - "dependencies"
      - "github-actions"

    groups:
      gha-security:
        applies-to: "security-updates"
        patterns:
          - "*"

      gha-minor-patch:
        applies-to: "version-updates"
        update-types:
          - "minor"
          - "patch"
        patterns:
          - "*"

    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"
